{% extends 'base.html' %}
{% block title %}Registration || {{ block.super }}{% endblock title %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div>
    <h1>User Registration</h1><hr/>
    <div class="" align="" style="margin-left: 14rem;">
        <div class="card" style="width: 40rem; margin-top: 2rem;">
            <div class="card-header text-left"><b>User Registration</b></div>
            <div class="card-body">
                {% include 'form.html' %}
            </div><!-- end of card body -->
        </div><!-- end of card -->
    </div>
</div>
{% endblock %}