asgiref==3.2.10
asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.14.1
chardet==3.0.4
cryptography==3.0
dj-database-url==0.5.0
Django==2.2
django-crispy-forms==1.9.2
django-filter==2.3.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
dnspython==2.0.0
enum34==1.1.10
gunicorn==20.0.4
idna==2.10
ipaddress==1.0.23
jeepney==0.4.3
keyring==21.3.0
keyrings.alt==3.4.0
Markdown==3.2.2
psutil==5.7.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.1.0
pytz==2020.1
pyxdg==0.26
requests==2.24.0
SecretStorage==3.1.2
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.5
