{% extends 'base.html' %}
{% block title %}Email Activated || {{ block.super }}{% endblock title %}


{% block content %}
    <div class="row py-4">
        <div class="col-12 text-center">
            <h1 class='my-5 py-5'>Activation Error! Please try again.</h1>
        </div>
    </div>
{% endblock %}

<div class="row py-4">
        <div class="col-12 text-center">
            {% if key %}
                <h1 class='my-5 py-5'>Activation Error! Please try again.</h1>
            {% else %}
                <h1>Reactivate your Email.</h1>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="col-6 mx-auto">
                <div class="card">
                    <div class="card-header text-left"><b>Resend Activation</b></div>
                    <div class="card-body">
                        {% include 'form.html' %}
                    </div><!-- end of card body -->
                </div><!-- end of card -->
            </div>
        </div>
    </div>