{% extends "base.html" %}
{% block content %}
    <div class="" align="" style="margin-left: 14rem;">
        <div class="card" style="width: 40rem; margin-top: 2rem;">
            <div class="card-header text-left"><b>Reset Password</b></div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    {% include 'form.html' %}
                    <a href="{% url 'login' %}" class="float-right" style="text-decoration: none;">login</a>
                </form>
            </div><!-- end of card body -->
        </div><!-- end of card -->
    </div>
{% endblock %}
