{% extends 'base.html' %}
{% block title %}Change Password || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="" align="" style="margin-left: 14rem;">
        <div class="card" style="width: 40rem; margin-top: 2rem;">
            <div class="card-header text-left"><b>Changed Password</b></div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    {% include 'form.html' %}
                </form>
            </div><!-- end of card body -->
        </div><!-- end of card -->
    </div>
{% endblock %}
