{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- css -->
      {% include 'base/css.html' %}


      <title>{% block title %}jTro Auth{% endblock %}</title>
  </head>
  <body>
    {% include 'base/navbar.html' with brand_name='jTro Auth' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript -->
    {% include 'base/js.html' %}

  </body>
</html>