{% url 'home' as home_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}
{% url 'profile' as profile_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ home_url }}">{% if brand_name %}{{ brand_name }}{% else %}jQurity User Auth{% endif %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                <a class="nav-link" href="{{ home_url }}">Home</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown {% if request.path == account_url %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accounts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ profile_url }}">Profile</a>
                    <a class="dropdown-item" href="">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item dropdown {% if request.path == login_url or request.path == register_url %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="{{ login_url }}">Login</a>
                    <a class="dropdown-item" href="{{ register_url }}">Register</a>
                </div>
            </li>
            {% endif %}
        </ul>
        <!-- search from -->
    </div>
</nav>